table,th,td{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
} 

th,td{
    padding: 10px;
    /* text-align: left; */
}
div{
    display: inline-block;
    margin-right: 100px;
}
